{% extends 'home/template.html.twig' %}

{% block title %}Modification de mot de passe de l'utilisateur
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<h1>
			Modifier le mot de passe
		</h1>
		{% for type, message_list in app.flashes %}
			{% for message in message_list %}
				<div class="notification is-{{ type }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		{#{{ form(form) }}#}
		<div class="content">
			{{ form_start(form) }}

			{{ form_row(form.plainPassword.first, { label: 'Mot de passe:' }) }}

			{{ form_row(form.plainPassword.second, { label: 'Confirmez le mot de passe:' }) }}

			{#<button type="submit" class="button is-fullwidth is-primary">Mettre à jour</button>#}
			{{ form_end(form) }}

		</div>

	</div>
{% endblock %}
