{% extends 'home/template.html.twig' %}

{% block title %}Hello AnnoucementController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			Ajout d'annonce
		</h1>

		{{ form_start(form) }}
		{{ form_row(form.Picture) }}
		{#{{ form_label(form.Product_Image) }}
																						{{ form_widget(form.Product_Image) }}
																						{{ form_errors(form.Product_Image) }}#}
		{# your custom code for rendering the form #}
		{# if you leave default then it should render with bad styles etc. #}
		{{ form_end(form) }}
			<div class="col-3"> <div class="card" style="width: 18rem;"></div>
		</div>
	</div>
{% endblock %}
