{% extends 'home/template.html.twig' %}

{% block title %}Hello AnnoucementController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			Ajout d'annonce
		</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		{#{{ form_widget(form.user.username) }}#}
		{#{% endfor %}#}
		{#{% for annoucement in annoucements %}																																																																																																																																																																																																																																	{{ form_row(annoucement.fourht) }}
																																																																																																															{#{{ form_row(form.Image) }}#}
		<input type="submit" value="Create" class="btn btn-primary btn-lg active"/> {{ form_end(form) }}
		<div class="col-3">
			<div class="card" style="width: 18rem;"></div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
{% endblock %}
{% block javascripts %}
	<script>
		/*
						// window.onload = () => { // On va chercher la région
				window.onload = () => { // On va chercher la région
				let region = document.querySelector("#add_annoucement_regions");

				region.addEventListener("change", function () {

				let form = this.closest("form");
				let data = this.name + "=" + this.value;

				fetch(form.action, {
				method: form.getAttribute("method"),
				body: data,
				headers: {
				"Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
				}
				}).then(response => response.text()).then((html) => {
				let content = document.createElement("html");
				content.innerHTML = html;
				let nouveauSelect = content.querySelector("#add_annoucement_departement_id");
				document.querySelector("#add_annoucement_departement_id").replaceWith(nouveauSelect);
				})

				});

				let departement = document.querySelector("#add_annoucement_departement_id");

				departement.addEventListener("change", function () {

				let formV = departement.closest("form");
				let dataV = departement.name + "=" + departement.value;

				fetch(formV.action, {
				method: formV.getAttribute("method"),
				body: dataV,
				headers: {
				"Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
				}
				}).then(response => response.text()).then((html) => {
				let contentV = document.createElement("html");
				contentV.innerHTML = html;
				let nouveauSelectV = content.querySelector("#add_annoucement_villesfrance_id");
				document.querySelector("#add_annoucement_villesfrance_id").replaceWith(nouveauSelectV);
				})

				});


				}*/

$(document).on('change', '#add_annoucement_regions, #add_annoucement_departement_id', function () {
let $field = $(this)
let $regionField = $('#add_annoucement_regions')
let $form = $field.closest('form')
let target = '#' + $field.attr('id').replace('departement_id', 'villesfrance_id').replace('regions', 'departement_id')
// Les données à envoyer en Ajax
let data = {}
data[$regionField.attr('name')] = $regionField.val()
data[$field.attr('name')] = $field.val()
// On soumet les données
$.post($form.attr('action'), data).then(function (data) { // On récupère le nouveau <select>
let $input = $(data).find(target)
// On remplace notre <select> actuel
$(target).replaceWith($input)

})
})
// }
// }

	</script>
	<script>
		// window.onload = () => { // On va chercher la région
let region = document.querySelector("#add_annoucement_category");

region.addEventListener("change", function () {

let form = this.closest("form");
let data = this.name + "=" + this.value;

fetch(form.action, {
method: form.getAttribute("method"),
body: data,
headers: {
"Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
}
}).then(response => response.text()).then((html) => {
let content = document.createElement("html");
content.innerHTML = html;
let nouveauSelect = content.querySelector("#add_annoucement_SubCategoryO");
document.querySelector("#add_annoucement_SubCategoryO").replaceWith(nouveauSelect);
})

});


// }
	</script>
{% endblock %}
