{% extends 'home/template.html.twig' %}

{% block title %}Hello AnnoucementController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<style>
		/* Add your custom styles here */
		.card {
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1 class="text-center mt-3">Liste des annonces</h1>
		<div
			class="row">
			{#{{form(form)}}#}
			{% for annoucement in annoucements %}

				<div
					class="col-md-3 col-sm-6">
					<!-- Adjust column sizes for responsiveness -->
					<div class="card">
						<img src="{{ asset('assets/uploads/annonces/mini/300x300-' ~ annoucement.pictures[0].name ) }}" alt="{{ annoucement.nom }}" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{ annoucement.Nom }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ annoucement.id }}</h6>
							<p class="card-text">{{ annoucement.Price }}€</p>
							{% if is_granted('ROLE_ADMIN') %}
								<div class="d-flex justify-content-between">

									<a href="{{ path('app_DelAnnoucement', {id: annoucement.id}) }}" class="btn btn-danger">
										<i class="fas fa-user-times"></i>
										Delete
									</a>
									<a href="{{ path('editAnnoucement', {id: annoucement.id}) }}" class="btn btn-primary">
										<i class="fas fa-user-edit"></i>
										Edit
									</a>
								</div>
							{% endif %}
							<a href="{{ path('detailsAnnoucements_app_details', {"slug": annoucement.slug }) }}" class="btn btn-info mt-2">
								<i class="fas fa-info-circle"></i>
								Details
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if isPaginated is defined and isPaginated %}
			<div class="row mt-2">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						{% if page != 1 %}
							<li class="page-item">
								<a class="page-link" href="{{ path('app_annoucement', {page: page - 1, nbre: nbre}) }}">
									Previous
								</a>
							</li>
						{% endif %}
						{% for i in range(1, nbrePage) %}
							<li class="page-item">
								<a class="page-link" href="{{ path('app_annoucement', {page: i, nbre: nbre}) }}">{{ i }}
								</a>
							</li>
						{% endfor %}
						{% if page != nbrePage %}
							<li class="page-item">
								<a class="page-link" href="{{ path('app_annoucement', {page: page + 1, nbre: nbre}) }}">Next</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		{% endif %}
	</div>
</body></body></html>{% endblock %}
