{% extends 'home/template.html.twig' %}

{% block title %}Hello AnnoucementController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1></h1>
		{% for annoucement in annoucements %}
			<div class="col-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h6>{{ annoucement.id }}</h6>
						{#{% for picture in annoucement.pictures %}#}
						<img
						src="{{ asset('assets/uploads/annonces/mini/300x300-' ~ annoucement.pictures[0].name ) }}" alt="{{ annoucement.nom }} " class="img-thumbnail">

						{#{% endfor %}#}
						<div class="card-body">
							<h5 class="card-title">{{  annoucement.Nom  }}</h5>
							<p class="card-text">{{  annoucement.Price  }}€</p>
							<p class="card-text">{{  annoucement.Description }}</p>
							<a href="{{ path('app_DelAnnoucement', {id: annoucement.id}) }}" class="btn btn-primary">Suprimer</a>
							<a href="{{ path('editAnnoucement', {id: annoucement.id}) }}" class="btn btn-primary">Modifier</a>
							<a href="{{ path('detailsAnnoucements_app_details', {"slug": annoucement.slug }) }}" class="btn btn-primary">Voir détails</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
