{% extends 'home/template.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		{% for product in products %}
			<h1 class="card-title">{{  product.name }}</h1>
			{{  product.image }}
			<h2 class="card-subtitle mb-2 text-muted">
				{{  product.category}}
				{{  product.description }}</h2>
			<p class="card-text">{{  product.price  }}
				€</p>
		{% endfor %}
	</div>
{% endblock %}
